// GAMES LOBBY
section.lobby
  div.games
    h1 Welcome to the lobby
    .list
      table.gameTable(cellspacing="0" cellpadding="0" border="0")
        thead
          td ID
          td Name
          td Created by
          td Mode
        tbody
          tr(ng-hide="lobby.session.total > 0")
            td(colspan="4" class="nogames") 
              | There're no games at the moment
          tr(ng-show="lobby.session.total > 0" 
            ng-repeat="game in lobby.session.games"
            ng-click="lobby.selectGame(game.id)"
            ng-class="{current: game.id === lobby.join.selected}")
            td {{game.id}}
            td {{game.title}}
            td {{game.host}}
            td(ng-switch="game.isCooperative")
              span(ng-switch-when="true") Cooperative
              span(ng-switch-default) Player vs Player
    .buttons
      button(ng-click="lobby.create.form = true") Create New Game
      button(ng-click="joinGame()" 
        ng-enabled="lobby.join.selected !== false") Join Game

// JOIN GAME FORM
.joinGame.cover(ng-show="lobby.join.form")
  .dialogue
    h3 Enter Secret
    div(ng-show="lobby.join.error") {{lobby.error}}
    input(type="text"
      ng-model="lobby.join.secret"
      ng-class="{error: lobby.join.error}")
    .buttons
      button(ng-click="lobby.joinGame()") Continue
      button(ng-click="lobby.joinCancel()") Cancel

// NEW GAME FORM
.newGame.cover(ng-show="lobby.create.form")
  .dialogue
    // PLAY MODE SELECTION
    div.modeSelect(
      ng-class="{hidden: lobby.play.modes[lobby.create.mode].isMultiplayer}")
      h3 Choose game mode
      label.mode(ng-repeat="(modeId, mode) in lobby.play.modes" 
        ng-class="{current: lobby.create.mode === modeId}")
        | {{mode.title}}
        input(type="radio"
          ng-model="game.mode"
          ng-value="modeId"
          ng-click="lobby.create.mode = modeId")

    // MULTIPLAYER FORM 
    div.multiplayerForm(
      ng-class="{visible: lobby.play.modes[lobby.create.mode].isMultiplayer}")
      h3 Multiplayer Game

      // error messages
      ul.errors(ng-show="lobby.create.errors !== {}")
        li(ng-repeat="error in lobby.create.errors") {{error}}

      .inputs
        label Enter Game Title
          input(type="text"
            ng-model="lobby.create.title"
            ng-class="{error: lobby.create.errors['title']}")

        label(
          ng-show="!lobby.play.modes[lobby.create.mode].isCooperative")
            | Enter Secret Number
          input.secret(type="text"
            ng-model="lobby.create.secret"
            ng-class="{error: lobby.create.errors['hostSecret']}")

    .buttons
      button(ng-click="lobby.createGame()"
        ng-disabled="lobby.create.mode === false") Start Game
      button(ng-click="lobby.createCancel()") Cancel
